@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --sidebar: 248 250 252;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 248 250 252;
    --sidebar: 30 41 59;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-slate-900 dark:text-slate-100;
  }
}
